@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
        <li>@Model.versione</li>
        <li>@Model.ambiente</li>
        <li>@Model.fileLocal</li>
        <li>@Model.ultimaAggiornamento</li>
        <li>@Model.formatoValuta</li>
        <li>@Model.fusoOrario</li>
    </ul>
</div>
